<footer class="content-info uk-padding-large uk-padding-remove-left uk-padding-remove-right">
    <div class="uk-container uk-margin-auto-vertical">
        <!-- 4 columns widget area enabled -->
        <div class="uk-grid uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>
            {{ function('dynamic_sidebar', 'sidebar-footer') }}
        </div>
    </div>
</footer>
