<footer class="content-info uk-padding-large">
    <div class="uk-container uk-margin-auto">
        <div class="uk-grid" uk-grid>
            {{ function('dynamic_sidebar', 'sidebar-footer') }}
        </div>
    </div>
</footer>
